*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color--b8b8b8: #b8b8b8;
    --height--column--: 45px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:var(--color--b8b8b8);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mg-20{
    margin-top: 20px;
}
.bg-7ed321{
    background-color: #7ed321;
}
.error{
    color: red;
    font-size: 12px;
}
#app{
    padding: 25px 15px;
    background-color: white;
    width: 540px;
    border-radius: 4px;
}
.title{
    color: #82d528;
    font-weight: 700;
}
.row{
    border: 1px solid var(--color--b8b8b8);
    display: flex;
    align-items: center;
    position: relative;
    height: var(--height--column--);
    margin-top: 12px;
}
.row i{
    font-size: 16px;
    padding: 12px 15px ;
    color: var(--color--b8b8b8);
}
.row__after i::after {
    position: absolute;
    content: "";
    border-right: 1px solid var(--color--b8b8b8);
    top: 8px;
    bottom:8px;
    left:45px ;
}
.row input{
    border: none;
    padding: 0 20px;
    width: 100%;
    font-size: 15px;
}
.row input:focus-visible {
    outline: none;
}
/* DOB -- Gender */
#DOB__Gender{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
}
.row__grid{
    border: none;
}
.DOB .row__grid input,
.Gender .row__grid input{
    border: 1px solid var(--color--b8b8b8);
    padding: 12px 10px;
    color: var(--color--b8b8b8);
}
.DOB .row__grid input{
    margin-right:4px;
}
.row__grid .error{
    margin-top: unset;
    padding: 0 20px;
    transform: translateY(-20px);
    color: red;
}
.Gender .row__grid .gender__option{
    border: 1px solid var(--color--b8b8b8);
    padding: 12px 40px;
}
/* Payment Details */
#payment__Details .row__active{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
}
#payment__Details .row__active .row-2{
    height:var(--height--column--);
    display: flex;
    align-items: center;
    justify-content: center;
}
#payment__Details .row__active .row-2 i{
    margin-right: -10px;
}
/* Payment Details - Card CVC */
.card__CVC, .card__CVC--time{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card__CVC{
    gap:10px;
}
.card__CVC--time{
    gap:0;
    margin-top: 12px;
}
.card__CVC--time--input select{
    height: var(--height--column--);
    border: 1px solid var(--color--b8b8b8);
    width: 100%;
    outline: none;
}
/* Term and Conditions Section */
.term__conditions--section--checkbox{
    font-size: 14px;
    color: var(--color--b8b8b8);
    margin-top: 10px;
}