*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.btn{
    padding: 10px 20px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
}
.btn:hover{
    opacity: 0.8;
}
.btn_red{
    background-color: red;
}
.btn_blue{
    background-color: blue;
}
.btn_yellow{
    background-color: yellow;
}