*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #4daf54, #3d8880);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
#container label{
    margin-bottom: 10px;   
}
#container .in{
    width: 40px;
    height: 40px;
    font-size: 30px;
}
#container .btn_result{
    padding: 10px 20px ;
    cursor: pointer;
    float: right;
    margin: 10px 10px 10px 0;
}
#container .ketqua{
    margin-top: 10px;
    width: 300px;
    height: 80px;
    padding: 10px;
}

